/* _content/MyApp.BlazorUI/Components/Layout/NavMenu.razor.rz.scp.css */
.container[b-tq320gdbme] {
  width: 100% !important;
}

@media (max-width: 768px) {
  .container[b-tq320gdbme] {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
    gap: 1rem !important;
  }
}
